<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../contact-us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
   
    <div class="contact-form-container">
        <div class="contact-us">
          <div class="contact-header">
            <h1>
              &#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;CONTACT US
            </h1>
          </div>
          <div class="social-bar">
            <ul>
              <li class="facebook">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="instagram" ><i class="fab fa-instagram"></i></a>
              </li>
              
            </ul>
          </div>
        </div>
        <div class="header">
          <h1>
            Let's Get Connect
          </h1>
          <h2>
            Contact us to start your learning journey! 
          </h2>
        </div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i>
          <h3>
            JSS Academy of Technical Education,
          </h3>
          <h3>
            Noida, U.P.
          </h3>
        </div>
        <div class="phone">
          <i class="fas fa-phone-alt"></i>
          <h3>
            9926260315
          </h3>
        </div>
        <div class="email">
          <i class="fas fa-envelope"></i>
          <h3>
            quanta@jssatean.com
          </h3>
        </div>
        <div class="contact-form">
          <form id="contact-us-form" method="POST" action="/connect" >
            <input name="name" placeholder="Name" type="text" required/>
            <input name="email" placeholder="Enter your Email" type="email" required/>
            <textarea name="message" placeholder="How can we help you..." rows="4" required></textarea>
            <button type="submit" class="submit-btn">SEND </button>
          </form>
        </div>
      </div>
  </body>
</html>